/* src/components/Dashboard.css */
.dashboard-container {
    padding: 20px;
    color: #FFFFFF;
    background-color: #2C2C2C;
}

.plot-container {
    margin-bottom: 40px;
}

.plot-container h3 {
    margin-bottom: 10px;
}
